<?php
/**
 * DevelopmentApi
 * PHP version 5
 *
 * @category Class
 * @package  Bleumi\Pay
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bleumi Pay API
 *
 * The power of fiat at the speed of cryptocurrency
 *
 * OpenAPI spec version: 1.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 3.0.9-SNAPSHOT
 */
/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Bleumi\Pay\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Bleumi\Pay\ApiException;
use Bleumi\Pay\Configuration;
use Bleumi\Pay\HeaderSelector;
use Bleumi\Pay\ObjectSerializer;

/**
 * DevelopmentApi Class Doc Comment
 *
 * @category Class
 * @package  Bleumi\Pay
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class DevelopmentApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation friendbot
     *
     * Fund Stellar test addresses with 10,000 tokens
     *
     * @param  \Bleumi\Pay\Model\StellarAddress $addr addr (required)
     * @param  \Bleumi\Pay\Model\StellarAddress $issuer Asset Issuer (required)
     *
     * @throws \Bleumi\Pay\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function friendbot($addr, $issuer)
    {
        $this->friendbotWithHttpInfo($addr, $issuer);
    }

    /**
     * Operation friendbotWithHttpInfo
     *
     * Fund Stellar test addresses with 10,000 tokens
     *
     * @param  \Bleumi\Pay\Model\StellarAddress $addr (required)
     * @param  \Bleumi\Pay\Model\StellarAddress $issuer Asset Issuer (required)
     *
     * @throws \Bleumi\Pay\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function friendbotWithHttpInfo($addr, $issuer)
    {
        $returnType = '';
        $request = $this->friendbotRequest($addr, $issuer);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 400:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Bleumi\Pay\Model\BadRequest',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation friendbotAsync
     *
     * Fund Stellar test addresses with 10,000 tokens
     *
     * @param  \Bleumi\Pay\Model\StellarAddress $addr (required)
     * @param  \Bleumi\Pay\Model\StellarAddress $issuer Asset Issuer (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function friendbotAsync($addr, $issuer)
    {
        return $this->friendbotAsyncWithHttpInfo($addr, $issuer)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation friendbotAsyncWithHttpInfo
     *
     * Fund Stellar test addresses with 10,000 tokens
     *
     * @param  \Bleumi\Pay\Model\StellarAddress $addr (required)
     * @param  \Bleumi\Pay\Model\StellarAddress $issuer Asset Issuer (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function friendbotAsyncWithHttpInfo($addr, $issuer)
    {
        $returnType = '';
        $request = $this->friendbotRequest($addr, $issuer);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'friendbot'
     *
     * @param  \Bleumi\Pay\Model\StellarAddress $addr (required)
     * @param  \Bleumi\Pay\Model\StellarAddress $issuer Asset Issuer (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function friendbotRequest($addr, $issuer)
    {
        // verify the required parameter 'addr' is set
        if ($addr === null || (is_array($addr) && count($addr) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $addr when calling friendbot'
            );
        }
        // verify the required parameter 'issuer' is set
        if ($issuer === null || (is_array($issuer) && count($issuer) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $issuer when calling friendbot'
            );
        }

        $resourcePath = '/v1/friendbot';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($addr !== null) {
            $queryParams['addr'] = ObjectSerializer::toQueryValue($addr);
        }
        // query params
        if ($issuer !== null) {
            $queryParams['issuer'] = ObjectSerializer::toQueryValue($issuer);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                []
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            // \stdClass has no __toString(), so we should encode it manually
            if ($httpBody instanceof \stdClass && $headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($httpBody);
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\build_query($formParams);
            }
        }

        // this endpoint requires API key authentication
        $apiKey = $this->config->getApiKeyWithPrefix('x-api-key');
        if ($apiKey !== null) {
            $headers['x-api-key'] = $apiKey;
        }

        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\build_query($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
